.spinner {
    width: 10%;
}

.hidden {
    display: none;
}    

body { 
    background-color: rgba(255, 228, 196, 0.816);
    margin: 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    padding: .5em;
}

h1>a {
    font-size: 50px;
}

h2 {
    font-size:45px;
    color: rgb(14, 150, 228);
    padding-bottom: .3em;
}

div {
    display: inline-block;
}

:any-link:hover  {
    color:rgb(141, 206, 244);
}

a { 
    font-size: 25px;
    color:rgb(14, 150, 228);
}

ul {
    list-style: none;
    display: inline-block;
    line-height: 1.5em;
}

span {
    color:rgb(14, 150, 228);
    font-weight: bold;
    display: grid;
    list-style: block;
    font-size: 20px;
}